<a href="https://colab.research.google.com/github/VishwajaPatil1742/Data-Science-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Salary%20Data.csv')

In [3]:
salary.head(12)

    Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [5]:
salary.describe

<bound method NDFrame.describe of     Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872>

In [6]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [7]:
y=salary['Salary']

x=salary[['Experience Years']]

In [8]:
salary.shape

(40, 2)

In [9]:
x.shape

(40, 1)

In [10]:
y.shape

(40,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.6,random_state=2134)
x_train

    Experience Years
15               4.0
8                3.0
16               4.0
28               6.5
34               8.7
22               5.1
38              10.3
7                2.9
24               5.5
35               9.0
32               8.2
37               9.6
0                1.1
10               3.2
33               8.5
5                2.2
1                1.2
3                1.5
13               3.8
17               4.1
20               4.7
31               7.9
39              10.5
29               6.8

In [13]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((24, 1), (16, 1), (24,), (16,))

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [15]:
model.fit(x_train,y_train)

LinearRegression()

In [16]:
model.intercept_

25713.76816289412

In [17]:
model.coef_

array([9425.46911633])

In [18]:
y_pred = model.predict(x_test)

In [19]:
from sklearn.metrics import mean_absolute_percentage_error

In [20]:
mean_absolute_percentage_error(y_test,y_pred)

0.06235307234927088